*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(./Assets/try1.avif);
    background-size: cover;
    /* background-position: ; */
}

.nav{
    /* background-color: black; */
    height: 9rem;
    display: flex;
    justify-content: space-around;
}

.logo img{
    height: 100%;
}

.nav-Options ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.nav-Options ul li{
    list-style: none;
    color: #fff;
    font-size: 1.45rem;
}

.btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.badge{
    height: 2rem;
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    font-size: 1.25rem;
    width: 100px;
    border-radius: 5px;
    /* padding: 10px 10px 10px 10px; */
}

.badge:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.nav-Options ul li:hover{
    opacity: 0.5;
    cursor: pointer;
    text-decoration: underline;
}

.logo:hover{
    cursor: pointer;
}

#sign{
    background-color: #fff;
    color: black;
}

.form{
    border: 2px solid white;
    border-radius: 10px;
    margin: 100px 950px;
    height: 17rem;
    width: 20%;
    padding: 20px;
    box-shadow: 0px 0px 15px black;
}

.form input{
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

.input{
    width: 90%;
}

.form label input[type = "checkbox"]{
    display: inline;
    /* padding: 10px; */
    margin-right: 10px;
}

.form label{
    color: black;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.but{
    margin-top: 10px;
    margin-left: 100px;
    color: black;
}